.my_dashboard.index {
   background-image: url('background.jpg');

  .form-container {
    margin-bottom: 10px;
    width: 600px;
    .form-input_area {
      height: 36px;
      float:left;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 5px;
      width: 400px;

      &:focus {
        border: 2px solid #00ccff;
      }
    }

    .form-btn {
      height: 33px;
      float: left;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 5px;
      margin-left: 5px;
      width: 120px;
      margin-bottom: 10px;
    }
  }

  .tweet-container {
     display: table;
     width: 37em;

    .tweet {
      display: table-cell;
      vertical-align: middle;
      word-wrap: break-word;
      width: 560px;
      text-align: left;
      height: 25px;

    }

    .delete-btn {
      min-height: 10px;
      margin-top: 10px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 32px;
      height: 25px;
    }
  }
}
