.my_dashboard.index {

  .form-container {
    margin-bottom: 10px;
    width: 600px;
    .form-input_area {
      height: 36px;
      float:left;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 5px;
      width: 400px;

      &:focus {
        border: 2px solid #00ccff;
      }
    }

    .form-btn {
      height: 33px;
      float: left;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 5px;
      margin-left: 5px;
      width: 120px;
      margin-bottom: 10px;
    }
  }

  .tweet-container {
     display: table;
     width: 560px;

    .tweet {
      display: table-cell;
      vertical-align: middle;
      word-wrap: break-word;
      max-width:  100px;
      text-align: left;
      height: 25px;
      margin-right: 10px;

    }

    .delete-btn {
      display: table-cell;
      min-height: 10px;
      margin-top: 10px;
      margin-left: 10px;
      vertical-align: center;
      text-align: center;
      width: 32px;
      height: 25px;
    }
  }
}
