.form-group {
  .nav {
    float: right;
  }
}

.a {
  .dropdown-toggle {
    .setings-tab {
      float: right;
    }
  }
}

.form {
  .navbar-form {
    .navbar-right {
      height: 10px;
    }
  }
}

.nav-log-in {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.nav-bar-text-field {
  margin-left: 3px;
}
